<div class="jumbotron">
  <h1>Client never stops!</h1>
  <p class="lead">Is your client side develeopment waiting on server side development? Then you are at the right place! Create a dummy server to respond to your client in seconds!</p>
  <a class="btn btn-large btn-success" href="rrs">Create request</a>
</div>

<hr>

<div class="row-fluid marketing">
  <div class="span6">
    <h4>Be super productive</h4>
    <p>No more blockage in client side development! Spend less time coding and more time drinking!</p>

    <h4>Swift Server</h4>
    <p>Just type request url and response your client expects and start using the it right away!</p>

    <h4>Design API, Start development!</h4>
    <p>Develop as soon as API's are designed. No need to wait for server side implementation.</p>

  </div>

  <div class="span6">
    <h4>Save time</h4>
    <p>Go home early by saving time wasted during initial client-server communication!</p>

    <h4>Easy</h4>
    <p>No learning curve! We are developers and we know how much it sucks to learn a new tool!</p>

    <h4>Interactive API</h4>
    <p>Aren't you bored of the plain API documentation? Well here is working API dock for you!</p>

  </div>
</div>